{% extends "base.html" %}
{% block body %}
<div class="myDiv">
    Auto Fork is forked to your GitHub account! You're all set. Thank you for using Auto Fork.
</div>
<br>
<div class="myDiv">
    <a class="myButton" href="{{ base_url }}">Try it again</a>
</div>
<br>
<div class="myDiv">
    <a class="myButton" href="https://hub.docker.com/r/kyrick/autofork">Visit me on Docker Hub</a>
</div>
<br>
<div class="myDiv">
    <a class="myButton" href="https://github.com/kyrick/auto-fork">Visit me on GitHub</a>
</div>
{% endblock %}